.footer {
  background-color: var(--light-black);
  background-image: url(../img/1920-footer-line.svg);
  background-repeat: repeat-x;
  background-position: 0px 274px;
  background-size: auto;
}

.footer__container {
  padding-top: 94px;
  padding-bottom: 8px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 18px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 26px;
}

.footer-nav {
  max-width: 445px;
}

.footer-nav__list {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 123px;
     -moz-column-gap: 123px;
          column-gap: 123px;
}

.footer-nav__item {
  display: inline-block;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.footer-nav__link:focus {
  color: var(--primary-light);
}

.footer-nav__link:hover {
  color: var(--primary);
}

.footer-nav__link:active {
  color: var(--primary-shade);
}

.footer-mobile {
  display: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
}

.footer__copy {
  display: inline-block;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: var(--text-gray);
}